<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поздравление</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🎉 С Днём Рождения! 🎉</h1>
    <p>Желаю хорошего настроения насегда) 💖</p>
    <button onclick="celebrate()">Нажми 🎁</button>
    <div id="message" class="message"> Ты красивая , добрая , очеровательная , восхитительная , милая , блестящая , любимая , у тебя очень красивые глаза , голос , прекрасные волосы и сама ты прекрасная оставайся всегда такой же красивой и доброй)💋💖</div>
</div>

<audio id="music" src="{{ url_for('static', filename='music.mp3') }}"></audio>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

<script>
function celebrate() {
document.getElementById("message").classList.add("show");
    const music = document.getElementById("music");
    if (music) music.play();

    // конфетти
    if (typeof confetti !== "undefined") {
        for (let i = 0; i < 3; i++) {
            setTimeout(() => {
                confetti({
                    particleCount: 150,
                    spread: 120,
                    origin: { y: 0.6 }
                });
            }, i * 300);
        }
    }

    // сердечки
    for (let i = 0; i < 25; i++) {
    setTimeout(createHeart, i * 150);
}
}

<script>
function createHeart() {
    const heart = document.createElement("div");
    heart.classList.add("heart");
    heart.innerHTML = "💖";

    // случайная позиция по ширине
    heart.style.left = Math.random() * 100 + "vw";

    // случайный размер
    heart.style.fontSize = (15 + Math.random() * 35) + "px";

    // случайная длительность анимации
    heart.style.animationDuration = (3 + Math.random() * 3) + "s";

    // небольшое случайное смещение по X
    heart.style.transform = `translateX(${Math.random() * 100 - 50}px)`;

    document.body.appendChild(heart);

    setTimeout(() => {
        heart.remove();
    }, 6000);
}
</script>
</script>

</body>
</html>