<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поздравление</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🎉 С Днём Рождения! 🎉</h1>
    <p>Желаю хорошего настроения насегда) 💖</p>
    <button onclick="celebrate()">Нажми 🎁</button>
    <div id="message" class="message"> Ты красивая, добрая, очаровательная, восхитительная, милая, блестящая, любимая, у тебя очень красивые глаза, голос, прекрасные волосы, и сама ты прекрасная — оставайся всегда такой же красивой и доброй)💋💖</div>
</div>

<audio id="music" src="{{ url_for('static', filename='music.mp3') }}"></audio>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

<script>
function celebrate() {
    const music = document.getElementById("music");
    if (music) music.play();

    // показать текст
    const msg = document.getElementById("message");
    if (msg) msg.classList.add("show");

    // конфетти (если есть)
    if (typeof confetti !== "undefined") {
        confetti({
            particleCount: 150,
            spread: 120
        });
    }

    // сердечки
    for (let i = 0; i < 25; i++) {
        setTimeout(() => {
            createHeart();
        }, i * 150);
    }
}

function createHeart() {
    const heart = document.createElement("div");
    heart.className = "heart";
    heart.innerHTML = "💖";

    heart.style.position = "absolute";
    heart.style.left = Math.random() * 100 + "vw";
    heart.style.top = "100vh";

    heart.style.fontSize = (15 + Math.random() * 30) + "px";
    heart.style.animationDuration = (3 + Math.random() * 3) + "s";

    document.body.appendChild(heart);

    setTimeout(() => {
        heart.remove();
    }, 6000);
}
</script>
</script>

</body>
</html>